body {
	margin: 0;
	font-family: 'Open Sans Condensed';
	font-size: 16px;
}

.content-container {
	padding: 20px 80px;
	font-size: 1.2rem;
}

.picture-container {
	padding: 10px 70px;
}

.canvas {
	box-shadow: 0 10px 20px rgba(0,0,0, 0.45);
	display: block;
	margin-left: auto;
	margin-right: auto;
}